<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      {{> nav_contact}}

      <div class="inner cover">
        <h1 class="cover-heading">Contact</h1>
        <p class="lead">Get in touch with me.</p>

        <!-- Input -->
        <p>
          Details to follow..
        </p>

      </div>

      {{> foot }}

    </div>

  </div>

</div>