<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      {{> nav_home }}

      <div class="inner cover">
        <h1 class="cover-heading">Maak een lijstje</h1>
        <p class="lead">Zet simpelweg wat dingen op je lijstje.</p>

        <!-- Input -->
        <p>
        <div class="input-group input-group-lg">
          <div class="input-group-btn">
            <button id="recordButton" class="btn btn-primary" type="button"><i class="fa fa-microphone"></i></button>
          </div>
          <input id="maininput" type="text" class="form-control" placeholder="Wat wil je toevoegen?" aria-describedby="sizing-addon1" data-role="none">
        </div>
        </p>

        <!-- List container -->
        <div id="list" class="well well-lg text-left">

        </div>
        
      </div>

      {{> foot }}

    </div>
  </div>
</div>

<script>

      // Load a list

      (function(core){
      core.views = core.views || {};
      var listView = core.views.listView = new core.ListView();
      var itemView = core.views.itemView = new core.ItemView(core.views.listView);

      core.List.load(1, function(err, list){
        if(err) return 

        core.data = core.data || {};
        core.data.list = list;
        
        for(i in list.items){
          itemView.renderNewItem(list.items[i]);
        }

        listView.sort();

      });
    })(core);

  

</script>