<html>  
  <head>
    <title>ListNer</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery.touchSwipe.min.js"></script>
    
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html> 